---
import Base from '../../layouts/Base.astro';
import Header from '../../components/Header.astro';
import Hero from '../../components/Hero.astro';
import Rooms from '../../components/Rooms.astro';
import Access from '../../components/Access.astro';
import Contact from '../../components/Contact.astro';
import Footer from '../../components/Footer.astro';
import CookieBanner from '../../components/CookieBanner.astro';
---

<Base>
  <Header />
  <main>
    <Hero />
    <Rooms />
    <Access />
    <Contact />
  </main>
  <Footer />
  <CookieBanner />
</Base>
